{% extends "auctions/layout.html" %}

{% block body %}
    <h3>{{category_title}}</h3>

    {% for listing in category %}

    <a href="{% url 'listing' listing.id %}">
        <div class="container" style="padding: 70px;">

            <img src={{listing.image}} alt="image" height="200" width="200" style="object-fit: contain; float: left; padding-right: 20px; float: left;">
            <div style="font-size: 22px; font-weight: bolder;">Listing: {{listing.title}}</div> 
            <div style="font-size: 16px; font-weight: bolder;">Price: ${{listing.starting_bid}}</div>
            <br>
            Description: {{listing.description}}
        
        </div>
    </a>
    <br><br>

    {% endfor %}
{% endblock %}